In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import itertools
from collections import defaultdict

import sklearn.linear_model as skl_lm
from sklearn.preprocessing import StandardScaler, RobustScaler, PowerTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from sklearn.decomposition import PCA
from sklearn.cross_decomposition import PLSRegression

from sklearn.model_selection import KFold, cross_val_score
from sklearn.linear_model import Ridge, RidgeCV

import statsmodels.api as sm
import matplotlib.pyplot as plt

import seaborn as sns

from patsy import dmatrix

from fuzzywuzzy import fuzz, process

pd.set_option('display.max_rows', 250)
plt.rcParams["figure.figsize"] = (20,10)

In [3]:
comp = pd.read_csv('data/clean_comp_data.csv', index_col="entry_id")
comp.head(10)

,total_comp,salary,stock,bonus,company,level,location,years_experience,years_company,tag
entry_id,,,,,,,,,,
4,578.0,180.0,387.5,9.0,Uber,Senior,"San Francisco, CA",10.0,2.0,NaN
6,173.0,120.0,0.0,53.0,Amazon,L5,"Vancouver, BC, Canada",11.0,1.0,NaN
10,190.0,110.0,80.0,0.0,Amazon,L5,"Seattle, WA",3.0,3.0,NaN
13,156.0,135.0,8.0,13.0,Microsoft,62,"Seattle, WA",4.0,4.0,NaN
16,201.0,157.0,26.0,28.0,Microsoft,63,"Seattle, WA",12.0,6.0,NaN
17,137.0,110.0,16.0,11.0,Microsoft,59,"Seattle, WA",1.0,1.0,NaN
21,191.0,152.0,17.0,22.0,Microsoft,63,"Seattle, WA",7.0,7.0,NaN
25,218.0,150.0,7.0,61.0,Amazon,L5,"Seattle, WA",10.0,0.0,NaN
26,220.0,155.0,50.0,15.0,Facebook,34,"San Francisco, CA",2.0,0.0,NaN
28,430.0,200.0,180.0,50.0,Facebook,E6,"San Francisco, CA",7.0,7.0,NaN

In [4]:
comp.level = comp.level.replace(to_replace = np.NaN, value = '')
comp.tag = comp.tag.replace(to_replace = np.NaN, value = '')

In [5]:
def get_similar_grouping(series, special_cases = [], ratio_func = fuzz.ratio, tolerance = 90):
    counts = series.value_counts()
    
    mapping = defaultdict(list)
    already_mapped = set()
    
    items = list(counts.items())
    for i in range(len(items)):
        key1, count1 = items[i]
        
        if key1 in already_mapped:
            # print(f'Ignoring {key1}. Already mapped.')
            continue
            
        # print(f'Checking {key1} with count {count1}')
        mapping[key1].append(key1)
        for j in range(i+1, len(items)):
            key2, count2 = items[j]
            
            if key2.lower() in special_cases:
                continue
            
            # print(key2, count2)
            ratio = ratio_func(key1.lower(), key2.lower())
            if ratio > tolerance:
                # print(f'Adding {key2} to the list of {key1}.')
                mapping[key1].append(key2)
                already_mapped.add(key2)
                
    for combination_group in special_cases:
        most_common = combination_group[0]
        for i in range(1, len(combination_group)):
            less_common_company = combination_group[i]
            for variation in mapping[less_common_company]:
                mapping[most_common].append(variation)
            del mapping[less_common_company]
    
    return mapping

def match_datapoint_to_common_variation(datapoint, datapoint_mapping):    
    for possible_variation, possible_variation_group in datapoint_mapping.items():
        for possible_variation_option in possible_variation_group:
            if datapoint == possible_variation_option:
                return possible_variation
    return datapoint

In [6]:
location_map = {
    "SF Bay Area": ["San Francisco, CA", "Silicon Valley", "SF Bay Area", "Bay Area", "San Francisco", "San Francisco Bay Area", "San Mateo, CA", "Redwood City, CA", "Menlo Park, CA", "Fremont, CA", "Palo Alto, CA", "Santa Clara, CA", "Sunnyvale, CA", "San Jose, CA", "Berkeley, CA", "Oakland, CA", "Mountain View, CA", "Burlingame, CA", "Marin, CA", "Union City, CA", "Pleasanton, CA", "Cupertino, CA"],
    "Seattle Area": ["Seattle", "Seattle, WA", "Kirkland, WA", "Redmond, WA", "Bellevue, WA"],
    "NYC Area": ["New York", "New York, NY", "NYC", "NYC, NY", "Manhattan, NY", "Brooklyn, NY"],
    "LA Area": ["Los Angeles", "Los Angeles, CA", "Santa Monica, CA", "Santa Monica", "Pasadena, CA", "Pasadena", "Irvine, CA", "Orange County, CA", "Anaheim, CA", "Venice, CA", "Burbank, CA", "Long Beach, CA", "Malibu, CA", "Culver City, CA"],
    "Boston Area": ["Boston", "Boston, MA", "Cambridge", "Cambridge, MA", "Somerville, MA", "Newton, MA", "Quincy, MA", "Brookline, MA", "Malden, MA", "Waltham, MA", "Medford, MA", "Revere, MA", "Watertown, MA", "Lexington, MA"],
    "Chicago Area": ["Chicago", "Chicago, IL", "Joliet, IL", "Naperville, IL", "Schaumburg, IL", "Evanston, IL"],
    "Boulder Area": ["Boulder", "Boulder, CO", "Denver, CO"]
}

clean_locations = comp.location.apply(match_datapoint_to_common_variation, args=(location_map,))
pd.concat([comp.drop(columns=['location']), clean_locations], axis=1)

,total_comp,salary,stock,bonus,company,level,years_experience,years_company,tag,location
entry_id,,,,,,,,,,
4,578.0,180.0,387.5,9.0,Uber,Senior,10.0,2.0,,SF Bay Area
6,173.0,120.0,0.0,53.0,Amazon,L5,11.0,1.0,,"Vancouver, BC, Canada"
10,190.0,110.0,80.0,0.0,Amazon,L5,3.0,3.0,,Seattle Area
13,156.0,135.0,8.0,13.0,Microsoft,62,4.0,4.0,,Seattle Area
16,201.0,157.0,26.0,28.0,Microsoft,63,12.0,6.0,,Seattle Area
...,...,...,...,...,...,...,...,...,...,...
30133,115.0,115.0,0.0,0.0,IBM,Advisory Engineer,6.0,1.0,Distributed Systems (Back-End),"Madison, WI"
30139,370.0,187.0,150.0,33.0,Twitter,Senior SWE,10.0,6.0,iOS,NYC Area
30140,212.0,177.0,0.0,35.0,Bloomberg,Senior Software Engineer,2.0,0.0,Distributed Systems (Back-End),NYC Area
30142,185.0,98.0,57.0,30.0,Google,L4,4.0,2.0,API Development (Back-End),"London, EN, United Kingdom"
30143,180.0,110.0,55.0,15.0,Broadcom,ICB 3,7.0,7.0,Networking,"Tel Aviv, TA, Israel"

In [19]:
filtered_locations = clean_locations.value_counts()
filtered_locations = filtered_locations[filtered_locations >= 15]
filtered_locations

SF Bay Area                      5515
Seattle Area                     3652
NYC Area                         1028
Boston Area                       319
Austin, TX                        265
San Diego, CA                     260
LA Area                           212
London, EN, United Kingdom        162
Vancouver, BC, Canada             123
Boulder Area                      122
Bangalore, KA, India              119
Chicago Area                      106
Los Gatos, CA                      77
Washington, DC                     72
Toronto, ON, Canada                72
Atlanta, GA                        66
Dublin, DN, Ireland                61
Zurich, ZH, Switzerland            59
Hyderabad, TS, India               57
Moscow, MC, Russia                 55
Hillsboro, OR                      52
Portland, OR                       51
Pittsburgh, PA                     51
Jersey City, NJ                    48
Amsterdam, NH, Netherlands         47
Dallas, TX                         46
Singapore, SG, Singapore           46
San Bruno, CA                      43
Plano, TX                          41
Minneapolis, MN                    39
Tel Aviv, TA, Israel               38
Herndon, VA                        37
Philadelphia, PA                   37
Berlin, BE, Germany                36
Bengaluru, KA, India               35
Raleigh, NC                        31
Madison, WI                        29
Foster City, CA                    27
Phoenix, AZ                        27
Arlington, VA                      26
Tempe, AZ                          26
Kansas City, MO                    26
Folsom, CA                         25
Milpitas, CA                       25
Houston, TX                        24
Mc Lean, VA                        23
Sydney, NS, Australia              23
Richmond, VA                       23
Ottawa, ON, Canada                 21
Cambridge, EN, United Kingdom      21
San Antonio, TX                    20
Durham, NC                         20
Tokyo, TY, Japan                   19
San Ramon, CA                      19
Reston, VA                         18
Newark, NJ                         16
Salt Lake City, UT                 15
Montreal, QC, Canada               15
Name: location, dtype: int64

In [21]:
dummies_locations = dmatrix("0 + location", pd.DataFrame({ 'location': clean_locations }) , return_type='dataframe')
filtered_dummies_locations = dummies_locations.loc[:, (dummies_locations.sum(axis=0) >= 15)]
filtered_dummies_locations.sum(axis=0)
filtered_dummies_locations

location[Amsterdam, NH, Netherlands]         47.0
location[Arlington, VA]                      26.0
location[Atlanta, GA]                        66.0
location[Austin, TX]                        265.0
location[Bangalore, KA, India]              119.0
location[Bengaluru, KA, India]               35.0
location[Berlin, BE, Germany]                36.0
location[Boston Area]                       319.0
location[Boulder Area]                      122.0
location[Cambridge, EN, United Kingdom]      21.0
location[Chicago Area]                      106.0
location[Dallas, TX]                         46.0
location[Dublin, DN, Ireland]                61.0
location[Durham, NC]                         20.0
location[Folsom, CA]                         25.0
location[Foster City, CA]                    27.0
location[Herndon, VA]                        37.0
location[Hillsboro, OR]                      52.0
location[Houston, TX]                        24.0
location[Hyderabad, TS, India]               57.0
location[Jersey City, NJ]                    48.0
location[Kansas City, MO]                    26.0
location[LA Area]                           212.0
location[London, EN, United Kingdom]        162.0
location[Los Gatos, CA]                      77.0
location[Madison, WI]                        29.0
location[Mc Lean, VA]                        23.0
location[Milpitas, CA]                       25.0
location[Minneapolis, MN]                    39.0
location[Montreal, QC, Canada]               15.0
location[Moscow, MC, Russia]                 55.0
location[NYC Area]                         1028.0
location[Newark, NJ]                         16.0
location[Ottawa, ON, Canada]                 21.0
location[Philadelphia, PA]                   37.0
location[Phoenix, AZ]                        27.0
location[Pittsburgh, PA]                     51.0
location[Plano, TX]                          41.0
location[Portland, OR]                       51.0
location[Raleigh, NC]                        31.0
location[Reston, VA]                         18.0
location[Richmond, VA]                       23.0
location[SF Bay Area]                      5515.0
location[Salt Lake City, UT]                 15.0
location[San Antonio, TX]                    20.0
location[San Bruno, CA]                      43.0
location[San Diego, CA]                     260.0
location[San Ramon, CA]                      19.0
location[Seattle Area]                     3652.0
location[Singapore, SG, Singapore]           46.0
location[Sydney, NS, Australia]              23.0
location[Tel Aviv, TA, Israel]               38.0
location[Tempe, AZ]                          26.0
location[Tokyo, TY, Japan]                   19.0
location[Toronto, ON, Canada]                72.0
location[Vancouver, BC, Canada]             123.0
location[Washington, DC]                     72.0
location[Zurich, ZH, Switzerland]            59.0
dtype: float64

,"location[Amsterdam, NH, Netherlands]","location[Arlington, VA]","location[Atlanta, GA]","location[Austin, TX]","location[Bangalore, KA, India]","location[Bengaluru, KA, India]","location[Berlin, BE, Germany]",location[Boston Area],location[Boulder Area],"location[Cambridge, EN, United Kingdom]",...,location[Seattle Area],"location[Singapore, SG, Singapore]","location[Sydney, NS, Australia]","location[Tel Aviv, TA, Israel]","location[Tempe, AZ]","location[Tokyo, TY, Japan]","location[Toronto, ON, Canada]","location[Vancouver, BC, Canada]","location[Washington, DC]","location[Zurich, ZH, Switzerland]"
entry_id,,,,,,,,,,,,,,,,,,,,,
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
company_special_cases = [
    ['Amazon', 'Amazon Web Services', 'AWS'],
    ['Akamai', 'Akamai Technologies'],
    ['Cisco', 'Cisco Systems', 'Cisco Meraki'],
    ['Disney', 'The Walt Disney Company'],
    ['Dell', 'Dell Technologies'],
    ['EPAM Systems', 'Epam'],
    ['Expedia', 'Expedia Group'],
    ['GE Digital', 'GE'],
    ['HP', 'HP Inc', 'Hewlett Packard Enterprise'],
    ['Intel', 'Intel Corporation'],
    ['SAP', 'SAP Concur'],
    ['Samsung', 'Samsung Research America'],
    ['Snap', 'Snapchat'],
    ['Verizon', 'Verizon Media'],
    ['Walmart', 'Walmart Labs'],
    ['Zillow', 'Zillow Group']
]
company_map = get_similar_grouping(comp.company, company_special_cases)

clean_companies = comp.company.apply(match_datapoint_to_common_variation, args=(company_map,))
pd.concat([comp.drop(columns=['company']), clean_companies], axis=1)

,total_comp,salary,stock,bonus,level,location,years_experience,years_company,tag,company
entry_id,,,,,,,,,,
4,578.0,180.0,387.5,9.0,Senior,"San Francisco, CA",10.0,2.0,,Uber
6,173.0,120.0,0.0,53.0,L5,"Vancouver, BC, Canada",11.0,1.0,,Amazon
10,190.0,110.0,80.0,0.0,L5,"Seattle, WA",3.0,3.0,,Amazon
13,156.0,135.0,8.0,13.0,62,"Seattle, WA",4.0,4.0,,Microsoft
16,201.0,157.0,26.0,28.0,63,"Seattle, WA",12.0,6.0,,Microsoft
...,...,...,...,...,...,...,...,...,...,...
30133,115.0,115.0,0.0,0.0,Advisory Engineer,"Madison, WI",6.0,1.0,Distributed Systems (Back-End),IBM
30139,370.0,187.0,150.0,33.0,Senior SWE,"New York, NY",10.0,6.0,iOS,Twitter
30140,212.0,177.0,0.0,35.0,Senior Software Engineer,"New York, NY",2.0,0.0,Distributed Systems (Back-End),Bloomberg
30142,185.0,98.0,57.0,30.0,L4,"London, EN, United Kingdom",4.0,2.0,API Development (Back-End),Google
30143,180.0,110.0,55.0,15.0,ICB 3,"Tel Aviv, TA, Israel",7.0,7.0,Networking,Broadcom

In [9]:
filtered_companies = clean_companies.value_counts()
filtered_companies = filtered_companies[filtered_companies >= 15]
filtered_companies

Amazon                           1963
Microsoft                        1525
Google                           1423
Facebook                          849
Apple                             595
Salesforce                        373
Uber                              335
Cisco                             279
Oracle                            277
LinkedIn                          256
Qualcomm                          230
IBM                               206
Intel                             196
Capital One                       191
VMware                            189
Bloomberg                         166
eBay                              124
JPMorgan Chase                    120
Lyft                              119
Intuit                            117
Twitter                           110
Goldman Sachs                     109
PayPal                            108
SAP                               100
Airbnb                             96
Yelp                               96
Yahoo                              95
Nvidia                             94
Dropbox                            90
Adobe                              88
Walmart                            87
Workday                            85
Expedia                            84
Snap                               82
Netflix                            77
Wayfair                            72
Zillow                             64
Splunk                             64
Yandex                             59
Stripe                             56
Atlassian                          54
Pinterest                          53
Square                             51
Tableau Software                   51
GoDaddy                            48
Tesla                              48
Visa                               48
Dell                               47
Comcast                            47
WeWork                             46
Indeed                             43
ServiceNow                         38
Symantec                           38
Qualtrics                          37
Cruise                             35
Box                                33
Groupon                            33
General Motors                     32
Autodesk                           32
NetApp                             31
Twilio                             31
DoorDash                           31
T-Mobile                           31
Spotify                            29
Palantir                           29
USAA                               28
Two Sigma                          28
Accenture                          28
HubSpot                            27
Cerner                             27
American Express                   26
GE Digital                         26
Slack                              26
Epic Systems                       25
EPAM Systems                       25
Booking.com                        25
Nutanix                            25
Verizon                            24
SquareSpace                        23
Disney                             22
Northrop Grumman                   22
Rubrik                             21
Nextdoor                           20
DocuSign                           20
Target                             20
Morgan Stanley                     20
Pivotal                            20
Broadcom                           20
Palo Alto Networks                 20
Samsung                            19
Cloudera                           19
TripAdvisor                        18
Instacart                          18
Raytheon                           18
Grab                               18
Shopify                            18
Nike                               18
Barclays                           18
Lockheed Martin                    17
Bank of America Merrill Lynch      17
Argo AI                            16
HPE                                16
Credit Karma                       16
Andela                             16
Electronic Arts                    16
Hulu                               16
AT&T                               15
Deloitte                           15
Juniper Networks                   15
Red Hat                            15
Citadel                            15
Coinbase                           15
MathWorks                          15
Citrix Systems Inc                 15
Name: company, dtype: int64

In [10]:
special_cases = [
    ['Embedded', 'Embedded Systems', 'Embedded Software'],
    ['Operating Systems', 'OS'],
    ['Data', 'Data Engineering']
]
tag_map = get_similar_grouping(comp.tag, special_cases)

In [11]:
clean_tags = comp.tag.apply(match_datapoint_to_common_variation, args=(tag_map,))
pd.concat([comp.drop(columns=['tag']), clean_tags], axis=1)

,total_comp,salary,stock,bonus,company,level,location,years_experience,years_company,tag
entry_id,,,,,,,,,,
4,578.0,180.0,387.5,9.0,Uber,Senior,"San Francisco, CA",10.0,2.0,
6,173.0,120.0,0.0,53.0,Amazon,L5,"Vancouver, BC, Canada",11.0,1.0,
10,190.0,110.0,80.0,0.0,Amazon,L5,"Seattle, WA",3.0,3.0,
13,156.0,135.0,8.0,13.0,Microsoft,62,"Seattle, WA",4.0,4.0,
16,201.0,157.0,26.0,28.0,Microsoft,63,"Seattle, WA",12.0,6.0,
...,...,...,...,...,...,...,...,...,...,...
30133,115.0,115.0,0.0,0.0,IBM,Advisory Engineer,"Madison, WI",6.0,1.0,Distributed Systems (Back-End)
30139,370.0,187.0,150.0,33.0,Twitter,Senior SWE,"New York, NY",10.0,6.0,iOS
30140,212.0,177.0,0.0,35.0,Bloomberg,Senior Software Engineer,"New York, NY",2.0,0.0,Distributed Systems (Back-End)
30142,185.0,98.0,57.0,30.0,Google,L4,"London, EN, United Kingdom",4.0,2.0,API Development (Back-End)
30143,180.0,110.0,55.0,15.0,Broadcom,ICB 3,"Tel Aviv, TA, Israel",7.0,7.0,Networking

In [12]:
filtered_tags = clean_tags.value_counts()
filtered_tags = filtered_tags[filtered_tags >= 25]
filtered_tags = filtered_tags.drop('')
filtered_tags

Distributed Systems (Back-End)    3591
Full Stack                        3294
API Development (Back-End)        2024
ML / AI                           1044
Web Development (Front-End)        813
DevOps                             463
iOS                                426
Android                            347
Networking                         315
Security                           268
Testing (SDET)                     226
Mobile (iOS + Android)             208
Embedded                            96
Site Reliability (SRE)              90
Firmware                            50
Data                                40
Operating Systems                   29
Name: tag, dtype: int64

In [13]:
translation = 0.001 # Necessary to be able to log transform 0 values
log_total_comp = np.log(comp.total_comp + translation).rename('log_total_comp')
log_salary = np.log(comp.salary + translation).rename('log_salary')
log_stock = np.log(comp.stock + translation).rename('log_stock')
log_bonus = np.log(comp.bonus + translation).rename('log_bonus')

comp_transformed = pd.concat([log_total_comp, log_salary, log_stock, log_bonus, comp], axis=1)
comp_transformed = comp_transformed.drop(columns=['total_comp', 'salary', 'stock', 'bonus'])
comp_transformed

,log_total_comp,log_salary,log_stock,log_bonus,company,level,location,years_experience,years_company,tag
entry_id,,,,,,,,,,
4,6.359576,5.192962,5.959718,2.197336,Uber,Senior,"San Francisco, CA",10.0,2.0,
6,5.153297,4.787500,-6.907755,3.970311,Amazon,L5,"Vancouver, BC, Canada",11.0,1.0,
10,5.247029,4.700489,4.382039,-6.907755,Amazon,L5,"Seattle, WA",3.0,3.0,
13,5.049862,4.905282,2.079567,2.565026,Microsoft,62,"Seattle, WA",4.0,4.0,
16,5.303310,5.056252,3.258135,3.332240,Microsoft,63,"Seattle, WA",12.0,6.0,
...,...,...,...,...,...,...,...,...,...,...
30133,4.744941,4.744941,-6.907755,-6.907755,IBM,Advisory Engineer,"Madison, WI",6.0,1.0,Distributed Systems (Back-End)
30139,5.913506,5.231114,5.010642,3.496538,Twitter,Senior SWE,"New York, NY",10.0,6.0,iOS
30140,5.356591,5.176155,-6.907755,3.555377,Bloomberg,Senior Software Engineer,"New York, NY",2.0,0.0,Distributed Systems (Back-End)
30142,5.220361,4.584978,4.043069,3.401231,Google,L4,"London, EN, United Kingdom",4.0,2.0,API Development (Back-End)
30143,5.192962,4.700489,4.007351,2.708117,Broadcom,ICB 3,"Tel Aviv, TA, Israel",7.0,7.0,Networking

In [14]:
intercept = dmatrix("1", comp, return_type='dataframe')
intercept

          Intercept
entry_id
4               1.0
6               1.0
10              1.0
13              1.0
16              1.0
...             ...
30133           1.0
30139           1.0
30140           1.0
30142           1.0
30143           1.0

[14557 rows x 1 columns]

In [15]:
company_levels = pd.DataFrame({ 'company_level': clean_companies + "_" + comp["level"] }) 
dummies_company_levels = dmatrix("0 + company_level", company_levels, return_type='dataframe')
filtered_dummies_company_levels = dummies_company_levels.loc[:, (dummies_company_levels.sum(axis=0) >= 10)]
filtered_dummies_company_levels

filtered_dummies_company_levels.sum(axis=0)

,company_level[Adobe_Senior Software Engineer (4)],company_level[Adobe_Senior Software Engineer (5)],company_level[Adobe_Software Engineer 3],company_level[Airbnb_L3],company_level[Airbnb_L4],company_level[Airbnb_L5],company_level[Airbnb_L6],company_level[Amazon_5],company_level[Amazon_L4],company_level[Amazon_L5],...,company_level[Yandex_G18],company_level[Yelp_IC1],company_level[Yelp_IC2],company_level[Yelp_IC3],company_level[Yelp_IC4],company_level[Zillow_P3],company_level[Zillow_P4],company_level[eBay_MTS 1],company_level[eBay_MTS 2],company_level[eBay_SE 3]
entry_id,,,,,,,,,,,,,,,,,,,,,
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

company_level[Adobe_Senior Software Engineer (4)]                                                                                      20.0
company_level[Adobe_Senior Software Engineer (5)]                                                                                      12.0
company_level[Adobe_Software Engineer 3]                                                                                               19.0
company_level[Airbnb_L3]                                                                                                               14.0
company_level[Airbnb_L4]                                                                                                               34.0
company_level[Airbnb_L5]                                                                                                               32.0
company_level[Airbnb_L6]                                                                                                               12.0
company_level[Amazon_5]                                                                                                                15.0
company_level[Amazon_L4]                                                                                                              440.0
company_level[Amazon_L5]                                                                                                              715.0
company_level[Amazon_L6]                                                                                                              195.0
company_level[Amazon_L7]                                                                                                               18.0
company_level[Amazon_SDE I]                                                                                                           216.0
company_level[Amazon_SDE II]                                                                                                          233.0
company_level[Amazon_SDE III]                                                                                                          54.0
company_level[Amazon_Senior SDE]                                                                                                       12.0
company_level[Apple_ICT2]                                                                                                              74.0
company_level[Apple_ICT3]                                                                                                             212.0
company_level[Apple_ICT4]                                                                                                             207.0
company_level[Apple_ICT5]                                                                                                              51.0
company_level[Atlassian_P3]                                                                                                            17.0
company_level[Atlassian_P4]                                                                                                            15.0
company_level[Atlassian_P5]                                                                                                            13.0
company_level[Bloomberg_Senior Software Engineer]                                                                                      84.0
company_level[Bloomberg_Software Engineer]                                                                                             72.0
company_level[Capital One_Associate Software Eng]                                                                                      42.0
company_level[Capital One_Principal Associate]                                                                                         28.0
company_level[Capital One_Senior Associate]                                                                                            51.0
company_level[Capital One_Senior Software Eng]                                                                                         19.0
company_level[Capital One_Software Eng]                                                                                                18.0
company_level[Cerner_Associate Senior Software Engineer]                                                                               11.0
company_level[Cisco_Grade 10]                                                                                                          44.0
company_level[Cisco_Grade 11]                                                                                                          10.0
company_level[Cisco_Grade 6]                                                                                                           24.0
company_level[Cisco_Grade 8]                                                                                                           49.0
company_level[Cisco_Software Engineer III]                                                                                             26.0
company_level[Cisco_Software Engineer IV]                                                                                              25.0
company_level[Cisco_Technical Leader 1]                                                                                                15.0
company_level[Cruise_Senior Software Engineer]                                                                                         19.0
company_level[DoorDash_E5]                                                                                                             11.0
company_level[Dropbox_IC2]                                                                                                             22.0
company_level[Dropbox_IC3]                                                                                                             26.0
company_level[Dropbox_IC4]                                                                                                             19.0
company_level[Epic Systems_Software Developer]                                                                                         15.0
company_level[Expedia_L]                                                                                                               11.0
company_level[Expedia_M]                                                                                                               15.0
company_level[Expedia_SDE]                                                                                                             10.0
company_level[Expedia_SDE II]                                                                                                          25.0
company_level[Expedia_Senior SDE]                                                                                                      11.0
company_level[Facebook_E3]                                                                                                            141.0
company_level[Facebook_E4]                                                                                                            244.0
company_level[Facebook_E5]                                                                                                            230.0
company_level[Facebook_E6]                                                                                                            101.0
company_level[Facebook_E7]                                                                                                             20.0
company_level[Facebook_IC3]                                                                                                            12.0
company_level[Facebook_IC4]                                                                                                            20.0
company_level[Facebook_IC5]                                                                                                            25.0
company_level[Facebook_IC6]                                                                                                            11.0
company_level[Facebook_L3]                                                                                                             11.0
company_level[GoDaddy_SDE 2]                                                                                                           11.0
company_level[GoDaddy_SDE 3]                                                                                                           12.0
company_level[Goldman Sachs_Analyst]                                                                                                   47.0
company_level[Goldman Sachs_Associate]                                                                                                 34.0
company_level[Goldman Sachs_Vice President]                                                                                            14.0
company_level[Google_4]                                                                                                                14.0
company_level[Google_5]                                                                                                                10.0
company_level[Google_L3]                                                                                                              460.0
company_level[Google_L4]                                                                                                              439.0
company_level[Google_L5]                                                                                                              242.0
company_level[Google_L6]                                                                                                               59.0
company_level[Google_L7]                                                                                                               23.0
company_level[Google_SWE II]                                                                                                           13.0
company_level[Google_Senior SWE]                                                                                                       17.0
company_level[Google_Staff SWE]                                                                                                        15.0
company_level[Google_T3]                                                                                                               34.0
company_level[Google_T4]                                                                                                               22.0
company_level[Google_T5]                                                                                                               14.0
company_level[IBM_6]                                                                                                                   33.0
company_level[IBM_7]                                                                                                                   38.0
company_level[IBM_8]                                                                                                                   15.0
company_level[IBM_9]                                                                                                                   17.0
company_level[IBM_Band 7]                                                                                                              11.0
company_level[IBM_Senior Advisory Eng]                                                                                                 10.0
company_level[IBM_Staff Engineer]                                                                                                      21.0
company_level[Indeed_L2]                                                                                                               10.0
company_level[Instacart_Senior Engineer]                                                                                               10.0
company_level[Intel_Grade 5]                                                                                                           21.0
company_level[Intel_Grade 6]                                                                                                           40.0
company_level[Intel_Grade 7]                                                                                                           51.0
company_level[Intel_Grade 8]                                                                                                           28.0
company_level[Intuit_Senior Software Engineer]                                                                                         28.0
company_level[Intuit_Software Engineer 1]                                                                                              18.0
company_level[Intuit_Software Engineer 2]                                                                                              22.0
company_level[Intuit_Staff Software Engineer]                                                                                          21.0
company_level[JPMorgan Chase_601]                                                                                                      14.0
company_level[JPMorgan Chase_602]                                                                                                      11.0
company_level[JPMorgan Chase_Analyst]                                                                                                  21.0
company_level[JPMorgan Chase_Associate]                                                                                                21.0
company_level[JPMorgan Chase_Senior Associate]                                                                                         10.0
company_level[JPMorgan Chase_Vice President]                                                                                           21.0
company_level[LinkedIn_Senior]                                                                                                         14.0
company_level[LinkedIn_Senior Software Engineer]                                                                                       88.0
company_level[LinkedIn_Software Engineer]                                                                                              75.0
company_level[LinkedIn_Staff Software Engineer]                                                                                        51.0
company_level[Lyft_L4]                                                                                                                 10.0
company_level[Lyft_T3]                                                                                                                 16.0
company_level[Lyft_T4]                                                                                                                 24.0
company_level[Lyft_T5]                                                                                                                 38.0
company_level[Lyft_T6]                                                                                                                 17.0
company_level[Microsoft_59]                                                                                                           238.0
company_level[Microsoft_60]                                                                                                           211.0
company_level[Microsoft_61]                                                                                                           264.0
company_level[Microsoft_62]                                                                                                           225.0
company_level[Microsoft_63]                                                                                                           193.0
company_level[Microsoft_64]                                                                                                           140.0
company_level[Microsoft_65]                                                                                                            64.0
company_level[Microsoft_66]                                                                                                            24.0
company_level[Microsoft_67]                                                                                                            13.0
company_level[Microsoft_L60]                                                                                                           11.0
company_level[Microsoft_L61]                                                                                                           13.0
company_level[Microsoft_SDE]                                                                                                           25.0
company_level[Microsoft_SDE II]                                                                                                        34.0
company_level[Microsoft_Senior SDE]                                                                                                    20.0
company_level[Morgan Stanley_Associate]                                                                                                13.0
company_level[NetApp_MTS IV]                                                                                                           11.0
company_level[Netflix_Senior]                                                                                                          10.0
company_level[Netflix_Senior Software Engineer]                                                                                        61.0
company_level[Nvidia_IC2]                                                                                                              15.0
company_level[Nvidia_IC3]                                                                                                              20.0
company_level[Nvidia_IC4]                                                                                                              31.0
company_level[Oracle_IC-2]                                                                                                             61.0
company_level[Oracle_IC-3]                                                                                                             52.0
company_level[Oracle_IC-4]                                                                                                             58.0
company_level[Oracle_IC-5]                                                                                                             15.0
company_level[Oracle_Member of Technical Staff]                                                                                        17.0
company_level[Oracle_Principal MTS]                                                                                                    16.0
company_level[Oracle_Senior MTS]                                                                                                       15.0
company_level[Palantir_FDE - Forward Deployed Engineer (different roles, but same starting level, only one level across Palantir)]     11.0
company_level[Palantir_Software Engineer]                                                                                              12.0
company_level[PayPal_T23]                                                                                                              16.0
company_level[PayPal_T24]                                                                                                              21.0
company_level[PayPal_T25]                                                                                                              12.0

In [16]:
company_locations = pd.DataFrame({ 'company_location': clean_companies + "_" + clean_locations }) 
dummies_company_locations = dmatrix("0 + company_location", company_locations, return_type='dataframe')
filtered_dummies_company_locations = dummies_company_locations.loc[:, (dummies_company_locations.sum(axis=0) >= 10)]
filtered_dummies_company_locations

filtered_dummies_company_locations.sum(axis=0)

,company_location[Adobe_NYC Area],company_location[Adobe_SF Bay Area],company_location[Airbnb_SF Bay Area],company_location[Airbnb_Seattle Area],"company_location[Amazon_Arlington, VA]","company_location[Amazon_Austin, TX]","company_location[Amazon_Bangalore, KA, India]",company_location[Amazon_Boston Area],company_location[Amazon_Boulder Area],"company_location[Amazon_Dublin, DN, Ireland]",...,company_location[WeWork_NYC Area],company_location[WeWork_SF Bay Area],company_location[Workday_SF Bay Area],company_location[Yahoo_SF Bay Area],"company_location[Yandex_Moscow, MC, Russia]",company_location[Yelp_SF Bay Area],company_location[Zillow_SF Bay Area],company_location[Zillow_Seattle Area],company_location[eBay_SF Bay Area],company_location[eBay_Seattle Area]
entry_id,,,,,,,,,,,,,,,,,,,,,
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30133,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

company_location[Adobe_NYC Area]                              10.0
company_location[Adobe_SF Bay Area]                           40.0
company_location[Airbnb_SF Bay Area]                          80.0
company_location[Airbnb_Seattle Area]                         10.0
company_location[Amazon_Arlington, VA]                        13.0
company_location[Amazon_Austin, TX]                           37.0
company_location[Amazon_Bangalore, KA, India]                 15.0
company_location[Amazon_Boston Area]                          63.0
company_location[Amazon_Boulder Area]                         14.0
company_location[Amazon_Dublin, DN, Ireland]                  13.0
company_location[Amazon_Herndon, VA]                          31.0
company_location[Amazon_Hyderabad, TS, India]                 15.0
company_location[Amazon_LA Area]                              25.0
company_location[Amazon_London, EN, United Kingdom]           12.0
company_location[Amazon_NYC Area]                             92.0
company_location[Amazon_SF Bay Area]                         251.0
company_location[Amazon_Seattle Area]                       1136.0
company_location[Amazon_Tempe, AZ]                            14.0
company_location[Amazon_Toronto, ON, Canada]                  26.0
company_location[Amazon_Vancouver, BC, Canada]                70.0
company_location[American Express_NYC Area]                   11.0
company_location[American Express_Phoenix, AZ]                10.0
company_location[Andela_Lagos, LA, Nigeria]                   13.0
company_location[Apple_Austin, TX]                            13.0
company_location[Apple_SF Bay Area]                          534.0
company_location[Apple_Seattle Area]                          20.0
company_location[Atlassian_SF Bay Area]                       27.0
company_location[Atlassian_Sydney, NS, Australia]             17.0
company_location[Audible_Newark, NJ]                          10.0
company_location[Autodesk_SF Bay Area]                        23.0
company_location[Blizzard Entertainment_LA Area]              10.0
company_location[Bloomberg_London, EN, United Kingdom]        13.0
company_location[Bloomberg_NYC Area]                         146.0
company_location[Booking.com_Amsterdam, NH, Netherlands]      25.0
company_location[Box_SF Bay Area]                             33.0
company_location[Broadcom_SF Bay Area]                        10.0
company_location[Capital One_Mc Lean, VA]                     23.0
company_location[Capital One_NYC Area]                        25.0
company_location[Capital One_Plano, TX]                       17.0
company_location[Capital One_Richmond, VA]                    23.0
company_location[Capital One_SF Bay Area]                     14.0
company_location[Capital One_Vienna, VA]                      13.0
company_location[Capital One_Washington, DC]                  36.0
company_location[Cerner_Kansas City, MO]                      25.0
company_location[Cisco_Austin, TX]                            10.0
company_location[Cisco_Milpitas, CA]                          18.0
company_location[Cisco_SF Bay Area]                          179.0
company_location[Cisco_Seattle Area]                          14.0
company_location[Cloudera_SF Bay Area]                        16.0
company_location[Coinbase_SF Bay Area]                        13.0
company_location[Comcast_Philadelphia, PA]                    33.0
company_location[Credit Karma_SF Bay Area]                    12.0
company_location[Cruise_SF Bay Area]                          32.0
company_location[Dell_SF Bay Area]                            11.0
company_location[Dell_Seattle Area]                           10.0
company_location[DocuSign_Seattle Area]                       14.0
company_location[DoorDash_SF Bay Area]                        28.0
company_location[Dropbox_SF Bay Area]                         53.0
company_location[Dropbox_Seattle Area]                        27.0
company_location[Epic Systems_Madison, WI]                    16.0
company_location[Etsy_NYC Area]                               13.0
company_location[Expedia_Chicago Area]                        13.0
company_location[Expedia_Seattle Area]                        51.0
company_location[Facebook_Boston Area]                        15.0
company_location[Facebook_London, EN, United Kingdom]         43.0
company_location[Facebook_NYC Area]                           79.0
company_location[Facebook_SF Bay Area]                       472.0
company_location[Facebook_Seattle Area]                      218.0
company_location[Flipkart_Bangalore, KA, India]               10.0
company_location[GE Digital_San Ramon, CA]                    11.0
company_location[General Motors_Austin, TX]                   12.0
company_location[GoDaddy_Seattle Area]                        23.0
company_location[GoDaddy_Tempe, AZ]                           10.0
company_location[Goldman Sachs_Jersey City, NJ]               17.0
company_location[Goldman Sachs_NYC Area]                      63.0
company_location[Google_Austin, TX]                           12.0
company_location[Google_Boston Area]                          26.0
company_location[Google_Boulder Area]                         28.0
company_location[Google_LA Area]                              34.0
company_location[Google_London, EN, United Kingdom]           19.0
company_location[Google_NYC Area]                            158.0
company_location[Google_Pittsburgh, PA]                       13.0
company_location[Google_SF Bay Area]                         778.0
company_location[Google_San Bruno, CA]                        35.0
company_location[Google_Seattle Area]                        181.0
company_location[Google_Zurich, ZH, Switzerland]              53.0
company_location[Grab_Singapore, SG, Singapore]               13.0
company_location[Groupon_SF Bay Area]                         14.0
company_location[Groupon_Seattle Area]                        10.0
company_location[HubSpot_Boston Area]                         25.0
company_location[Hulu_LA Area]                                10.0
company_location[IBM_Austin, TX]                              42.0
company_location[IBM_NYC Area]                                14.0
company_location[IBM_Poughkeepsie, NY]                        11.0
company_location[IBM_SF Bay Area]                             34.0
company_location[IBM_Toronto, ON, Canada]                     10.0
company_location[Indeed_Austin, TX]                           18.0
company_location[Indeed_Seattle Area]                         13.0
company_location[Instacart_SF Bay Area]                       17.0
company_location[Intel_Chandler, AZ]                          10.0
company_location[Intel_Folsom, CA]                            25.0
company_location[Intel_Hillsboro, OR]                         48.0
company_location[Intel_Portland, OR]                          13.0
company_location[Intel_SF Bay Area]                           62.0
company_location[Intuit_SF Bay Area]                          78.0
company_location[Intuit_San Diego, CA]                        25.0
company_location[JPMorgan Chase_Houston, TX]                  10.0
company_location[JPMorgan Chase_Jersey City, NJ]              20.0
company_location[JPMorgan Chase_NYC Area]                     25.0
company_location[JPMorgan Chase_Plano, TX]                    12.0
company_location[Juniper Networks_SF Bay Area]                13.0
company_location[LinkedIn_NYC Area]                           10.0
company_location[LinkedIn_SF Bay Area]                       238.0
company_location[Lyft_SF Bay Area]                            84.0
company_location[Lyft_Seattle Area]                           25.0
company_location[MathWorks_Natick, MA]                        10.0
company_location[Microsoft_Bangalore, KA, India]              10.0
company_location[Microsoft_Boston Area]                       12.0
company_location[Microsoft_Dublin, DN, Ireland]               14.0
company_location[Microsoft_Hyderabad, TS, India]              23.0
company_location[Microsoft_SF Bay Area]                       77.0
company_location[Microsoft_Seattle Area]                    1276.0
company_location[Microsoft_Vancouver, BC, Canada]             16.0
company_location[MongoDB_NYC Area]                            11.0
company_location[Morgan Stanley_NYC Area]                     16.0
company_location[NetApp_SF Bay Area]                          17.0
company_location[Netflix_Los Gatos, CA]                       68.0
company_location[Nextdoor_SF Bay Area]                        19.0
company_location[Nike_Beaverton, OR]                          10.0
company_location[Nordstrom_Seattle Area]                      13.0
company_location[Nutanix_SF Bay Area]                         17.0
company_location[Nvidia_SF Bay Area]                          77.0
company_location[Oracle_SF Bay Area]                         103.0
company_location[Oracle_Seattle Area]                        108.0
company_location[Palantir_NYC Area]                           14.0
company_location[Palo Alto Networks_SF Bay Area]              18.0
company_location[Pandora_SF Bay Area]                         10.0
company_location[PayPal_SF Bay Area]                          73.0
company_location[Pinterest_SF Bay Area]                       48.0
company_location[Qualcomm_SF Bay Area]                        34.0
company_location[Qualcomm_San Diego, CA]                     180.0
company_location[Qualtrics_Seattle Area]                      30.0
company_location[Reddit_SF Bay Area]                          11.0
company_location[Riot Games_LA Area]                          11.0
company_location[Robinhood_SF Bay Area]                       12.0
company_location[Rubrik_SF Bay Area]                          21.0
company_location[SAP_SF Bay Area]                             34.0
company_location[SAP_Seattle Area]                            19.0
company_location[Salesforce_SF Bay Area]                     226.0
company_location[Salesforce_Seattle Area]                     63.0
company_location[Samsara_SF Bay Area]                         12.0
company_location[ServiceNow_SF Bay Area]                      10.0
company_location[ServiceNow_San Diego, CA]                    15.0
company_location[Slack_SF Bay Area]                           22.0
company_location[Snap_LA Area]                                30.0
company_location[Snap_SF Bay Area]                            21.0
company_location[Snap_Seattle Area]                           21.0
company_location[Splunk_SF Bay Area]                          51.0
company_location[Spotify_NYC Area]                            21.0
company_location[SquareSpace_NYC Area]                        23.0
company_location[Square_SF Bay Area]                          38.0
company_location[Stripe_SF Bay Area]                          36.0
company_location[Stripe_Seattle Area]                         10.0
company_location[Symantec_LA Area]                            12.0
company_location[Symantec_SF Bay Area]                        16.0
company_location[T-Mobile_Seattle Area]                       24.0
company_location[Tableau Software_Seattle Area]               41.0
company_location[Target_Minneapolis, MN]                      17.0
company_location[Tesla_SF Bay Area]                           44.0
company_location[Twilio_SF Bay Area]                          26.0
company_location[Twitter_SF Bay Area]                         71.0
company_location[Twitter_Seattle Area]                        13.0
company_location[Two Sigma_NYC Area]                          27.0
company_location[USAA_San Antonio, TX]                        15.0
company_location[Uber_Amsterdam, NH, Netherlands]             14.0
company_location[Uber_NYC Area]                               25.0
company_location[Uber_Pittsburgh, PA]                         23.0
company_location[Uber_SF Bay Area]                           220.0
company_location[Uber_Seattle Area]                           28.0
company_location[VMware_Boston Area]                          13.0
company_location[VMware_SF Bay Area]                         121.0
company_location[VMware_Seattle Area]                         17.0
company_location[Visa_Austin, TX]                             19.0
company_location[Visa_Foster City, CA]                        22.0
company_location[Walmart_Bentonville, AR]                     12.0
company_location[Walmart_SF Bay Area]                         43.0
company_location[Wayfair_Boston Area]                         66.0
company_location[WeWork_NYC Area]                             29.0
company_location[WeWork_SF Bay Area]                          14.0
company_location[Workday_SF Bay Area]                         65.0
company_location[Yahoo_SF Bay Area]                           80.0
company_location[Yandex_Moscow, MC, Russia]                   49.0
company_location[Yelp_SF Bay Area]                            92.0
company_location[Zillow_SF Bay Area]                          12.0
company_location[Zillow_Seattle Area]                         42.0
company_location[eBay_SF Bay Area]                            97.0
company_location[eBay_Seattle Area]                           12.0
dtype: float64

In [18]:
def comp_create_dummies(comp, stringent=True, interaction=True):
    if interaction:
        # Note! This create dummies for only those combinations that exist in the data, not all combinations!
        comp["company_level"] = comp["company"] + "_" + comp["level"]
        dummies_company_levels = dmatrix("0 + company_level", comp, return_type='dataframe')
        comp = pd.concat([comp, dummies_company_levels], axis=1)

        comp["company_location"] = comp["company"] + "_" + comp["location"]
        dummies_company_location = dmatrix("company_location", comp, return_type='dataframe')
        comp = pd.concat([comp, dummies_company_location], axis=1)
    else:
        # Heuristically select the companies with 5 or more data points
        dummies_companies = pd.get_dummies(comp.company)
        filtered_companies = comp.company.value_counts()
        if stringent:
            filtered_companies = filtered_companies[filtered_companies >= 5]
        comp = comp.join(dummies_companies[filtered_companies.index], rsuffix='_company')
        
        # Heuristically select the level with 5 or more data points
        dummies_levels = pd.get_dummies(comp.level)
        filtered_levels = comp.level.value_counts()
        if stringent:
            filtered_levels = filtered_levels[filtered_levels >= 5]
        comp = comp.join(dummies_levels[filtered_levels.index], rsuffix='_level')

    # Heuristically select the locations with 5 or more data points
    dummies_locations = pd.get_dummies(comp.location)
    filtered_locations = comp.location.value_counts()
    if stringent:
        filtered_locations = filtered_locations[filtered_locations >= 5]
    comp = comp.join(dummies_locations[filtered_locations.index], rsuffix='_location')
        
    # Heuristically select those tags with more than 1 data points
    dummies_tags = pd.get_dummies(comp.tag)
    filtered_tags = comp.tag.value_counts()
    if stringent:
        filtered_tags = filtered_tags[filtered_tags >= 2]
    comp = comp.join(dummies_tags[filtered_tags.index], rsuffix='_tag')

    # Use all gender values
    dummies_genders = pd.get_dummies(comp[['gender']])
    comp = pd.concat([comp, dummies_genders], axis=1)

    # Manually create dummies based on other details
    comp['masters'] = comp.other_details.str.lower().str.contains('master').factorize()[0]
    comp['phd'] = comp.other_details.str.lower().str.contains('phd').factorize()[0]
        
    return comp

comp = comp_create_dummies(comp)
comp.head(15)

KeyError: "None of [Index(['gender'], dtype='object')] are in the [columns]"

In [ ]:
def comp_drop_cols(comp):
    comp.drop(
        columns=[
            'salary', 'stock', 'bonus', 'total_comp',
            'company', 'level', 'location', 'company_level', 'company_location', 'tag', 'gender', 'other_details'],
        inplace=True,
        errors='ignore')
    comp = comp.astype('float')
    return comp

comp = comp_drop_cols(comp)

In [ ]:
base_comp_cols = comp.iloc[:,:2]
base_comp_remaining = comp.iloc[:,2:]
base_comp_scaler = StandardScaler().fit(base_comp_cols)
# base_comp_scaler = PowerTransformer(method='yeo-johnson').fit(base_comp_cols)
# base_comp_scaler = RobustScaler().fit(base_comp_cols)

# Make sure to scale years of experience and years at company
def comp_scale_regr(comp):    
    scale_comp_cols = comp.iloc[:,:2]
    scale_comp_remaining = comp.iloc[:,2:]
    scaled_comp = pd.DataFrame(
        base_comp_scaler.transform(scale_comp_cols),
        index = scale_comp_cols.index,
        columns = scale_comp_cols.columns)
    scaled_comp = scaled_comp.join(scale_comp_remaining).astype('float')
    return scaled_comp

comp = comp_scale_regr(comp)
comp

## Model Selection

In [ ]:
X = comp.copy(deep=True)
num_features = X.columns.size

alphas = 10**np.linspace(10,-2,100)
kf_10 = KFold(n_splits=10, shuffle=True, random_state=0)

def ridge(X, y):
    ridgecv = skl_lm.RidgeCV(alphas=alphas, cv=kf_10, scoring='neg_mean_squared_error')
    ridgecv.fit(X, y)

    optimal_ridge = skl_lm.Ridge()
    optimal_ridge.set_params(alpha=ridgecv.alpha_)
    optimal_ridge.fit(X, y)

    coefs = pd.Series(optimal_ridge.coef_.flatten(), index=X.columns)
    mse = mean_squared_error(y, optimal_ridge.predict(X))
    
    return {
        'model_type': 'ridge',
        'model': optimal_ridge,
        'intercept': optimal_ridge.intercept_,
        'coefs': coefs,
        'mse': mse }

def lasso(X, y):
    lassocv = skl_lm.LassoCV(alphas = alphas, cv=kf_10, max_iter=10000)
    lassocv.fit(X, y)

    optimal_lasso = skl_lm.Lasso()
    optimal_lasso.set_params(alpha = lassocv.alpha_)
    optimal_lasso.fit(X, y)

    coefs = pd.Series(optimal_lasso.coef_.flatten(), index=X.columns)
    mse = mean_squared_error(y, optimal_lasso.predict(X))
    
    return {
        'model_type': 'lasso',
        'model': optimal_lasso,
        'intercept': optimal_lasso.intercept_,
        'coefs': coefs,
        'mse': mse }

def pca(X, y):
    pca = PCA()
    X_reduced = pca.fit_transform(X)
    regr = skl_lm.LinearRegression()
    mse = []
    for i in np.arange(1, num_features):
        score = -1*cross_val_score(regr, X_reduced[:,:i], y, cv=kf_10, scoring='neg_mean_squared_error').mean()
        mse.append(score)
    mse_per_component = pd.Series(np.array(mse).flatten(), index = np.arange(1, num_features))
    min_component = np.argmin(mse_per_component) + 1

    X_reduced = pca.fit_transform(X)[:, :min_component]
    pca_regr = skl_lm.LinearRegression()
    pca_regr.fit(X_reduced[:,:min_component], y)

    coefs = pca_regr.coef_.flatten()
    mse = mean_squared_error(y, pca_regr.predict(X_reduced))
    
    return {
        'model_type': 'pca',
        'model': pca_regr,
        'intercept': pca_regr.intercept_,
        'coefs': coefs,
        'mse': mse,
        'pca': pca,
        'min_component': min_component }

def pls(X, y):
    regr = skl_lm.LinearRegression()
    num_components = 7 # num_features
    mse = []
    for i in np.arange(1, num_components):
        pls=PLSRegression(n_components=i)
        score = -1*cross_val_score(pls, X.iloc[:,:i], y, cv=kf_10, scoring='neg_mean_squared_error').mean()
        mse.append(score)
    mse_per_component = pd.Series(np.array(mse).flatten(), index = np.arange(1, num_components))
    min_component = np.argmin(mse_per_component) + 1

    pls = PLSRegression(n_components=min_component, scale=False)
    pls.fit(X, y)

    coefs = pd.Series(pls.coef_.flatten(), index=X.columns)
    mse = mean_squared_error(y, pls.predict(X))
    
    return {
        'model_type': 'pls',
        'model': pls,
        'intercept': None,
        'coefs': coefs,
        'mse': mse,
        'min_component': min_component }

def get_model_type_min_mse(models):
    min_model_type = None
    for index, (model_type, model) in enumerate(models.items()):            
        if index == 0 or model['mse'] < models[min_model_type]['mse']:
            min_model_type = model_type
    return min_model_type

def perform_model_selection(X, y, identifier):
    models = {
        'ridge': ridge(X, y),
        'lasso': lasso(X, y),
        #'pca': pca(X, y),
        #'pls': pls(X, y),
    }
    
    print(f'Performing model selection on {identifier}.')
    for model_type in models:
        print(f'{model_type} MSE:\t', models[model_type]['mse'])

    best_model_type = get_model_type_min_mse(models)
    best_model = models[best_model_type]
    print(f'Best model is {best_model_type}.')
    
    print('\nIntercept:\t\t', best_model['intercept'], '\n')
    print(best_model['coefs'])
    
    return best_model, models

## Total Compensation Model Selection

In [ ]:
best_model_total_comp, all_models_total_comp = perform_model_selection(X, y_total_comp, 'total compensation')

## Salary Model Selection

In [ ]:
best_model_salary, all_models_salary = perform_model_selection(X, y_salary, 'salary')

## Stock Model Selection

In [ ]:
best_model_stock, all_models_stock = perform_model_selection(X, y_stock, 'stock')

## Bonus Model Selection

In [ ]:
best_model_bonus, all_models_bonus = perform_model_selection(X, y_bonus, 'bonus')

## Suggested Negotiation Values

In [ ]:
comp_test = pd.read_csv('test.csv')
comp_test = comp_tidy_cols(comp_test)
comp_test = comp_fill_vals(comp_test)
comp_test_orig = comp_test.copy(deep=True)
# No need to scale salary/stock/bonus, as that's what we're predicting
comp_test = comp_create_dummies(comp_test, stringent=False)
comp_test = comp_drop_cols(comp_test)
comp_test = comp_scale_regr(comp_test)

X_test = comp.align(comp_test, join='left', axis=1)[1] # Ensure alignment with training data
X_test = X_test.fillna(0.0)
X_test

In [ ]:
# Total compensation predictions
y_pred_total_comp = None
if best_model_total_comp['model_type'] == 'pca':
    pca_test = best_model_total_comp['pca']
    min_component = best_model_total_comp['min_component']
    X_test_pca = pca_test.transform(X_test)[:,:min_component]
    y_pred_total_comp = best_model_total_comp['model'].predict(X_test_pca).flatten()
else:
    y_pred_total_comp = best_model_total_comp['model'].predict(X_test).flatten()
y_pred_total_comp[y_pred_total_comp < 0] = 0

# Salary predictions
y_pred_salary = None
if best_model_salary['model_type'] == 'pca':
    pca_test = best_model_salary['pca']
    min_component = best_model_salary['min_component']
    X_test_pca = pca_test.transform(X_test)[:,:min_component]
    y_pred_salary = best_model_salary['model'].predict(X_test_pca).flatten()
else:
    y_pred_salary = best_model_salary['model'].predict(X_test).flatten()
y_pred_salary[y_pred_salary < 0] = 0

# Stock predictions
y_pred_stock = None
if best_model_stock['model_type'] == 'pca':
    pca_test = best_model_stock['pca']
    min_component = best_model_stock['min_component']
    X_test_pca = pca_test.transform(X_test)[:,:min_component]
    y_pred_stock = best_model_stock['model'].predict(X_test_pca).flatten()
else:
    y_pred_stock = best_model_stock['model'].predict(X_test).flatten()
y_pred_stock[y_pred_stock < 0] = 0

# Bonus predictions
y_pred_bonus = None
if best_model_bonus['model_type'] == 'pca':
    pca_test = best_model_bonus['pca']
    min_component = best_model_bonus['min_component']
    X_test_pca = pca_test.transform(X_test)[:,:min_component]
    y_pred_bonus = best_model_bonus['model'].predict(X_test_pca).flatten()
else:
    y_pred_bonus = best_model_bonus['model'].predict(X_test).flatten()
y_pred_bonus[y_pred_bonus < 0] = 0

# All prediction results
y_pred = pd.DataFrame(data={
    'predicted_salary': y_pred_salary,
    'predicted_stock': y_pred_stock,
    'predicted_bonus': y_pred_bonus,
    'sum_total_comp': y_pred_salary + y_pred_stock + y_pred_bonus,
    'predicted_total_comp': y_pred_total_comp,
})

predictions = pd.concat([y_pred, comp_test_orig], axis=1)
predictions

In [ ]:
coefs = best_model_salary['coefs']

coefs_increase = best_model_salary['coefs'][best_model_salary['coefs'] > 20]
coefs_increase = coefs_increase.sort_values()
x = plt.bar(coefs_increase.index, coefs_increase)
x = plt.xticks(rotation=90)

In [ ]:
coefs_decrease = best_model_salary['coefs'][best_model_salary['coefs'] < -20]
coefs_decrease = coefs_decrease.sort_values()
x = plt.bar(coefs_decrease.index, coefs_decrease)
x = plt.xticks(rotation=90)
x = plt.gca().invert_yaxis()

In [ ]:
coefs.filter(like='Google').sort_values().sort_index()
coefs.filter(like='Facebook').sort_values().sort_index()

In [ ]:
coefs.filter(like='San Fran').sort_values()
coefs.filter(like='NY').sort_values()